<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoComplete.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AutoComplete.Properties.Settings>
            <setting name="WORD_POS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FREQ_POS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WORD_FIELD_NAME" serializeAs="String">
                <value>Word</value>
            </setting>
            <setting name="FREQ_FIELD_NAME" serializeAs="String">
                <value>Frequency</value>
            </setting>
            <setting name="LUCENE_VERSION" serializeAs="String">
                <value>LUCENE_30</value>
            </setting>
            <setting name="LUCENE_INDEX_DIRECTORY" serializeAs="String">
                <value>lucene_index</value>
            </setting>
            <setting name="DICTIONARY_FILE_NAME" serializeAs="String">
                <value>test.in</value>
            </setting>
            <setting name="HITS_LIMIT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LUCENE_INTEGER_TYPE" serializeAs="String">
                <value>4</value>
            </setting>
        </AutoComplete.Properties.Settings>
    </userSettings>
</configuration>